.about-container {
  padding: 4rem 10rem;
  background-color: #2B2B2B;
  color: rgb(196, 194, 194);
}

h1 {
  margin: 2rem 0;
}

.about-page-text, p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: white;
}

@media screen and (max-width: 540px) {
  .about-container {
    padding: 4rem 3rem;
  }

  .about-container > h1 {
    margin: 0 0 2rem;
  }
}

@media screen and (max-width: 375px) {
  .about-container {
    padding: 4rem 1rem;
  }
}